fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.9.2
python-dotenv==1.0.1

# Retrieval
chromadb==0.5.5
fastembed>=0.4.0
rank-bm25==0.2.2
sentence-transformers==3.1.1

# LLM
groq==0.11.0

# Document parsing
pypdf==5.0.1

# Eval
pandas==2.2.3

# Phase 3 Orchestration
langgraph==0.2.14
langchain-core==0.2.33
